#Scenecomments {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #ffffff;
	background-image : url('');
}


#header * {
	z-index : 100;

}

.commentarea * {
	z-index: 1;
	
}


#wrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 100%;	
	overflow: hidden;
}

